<!doctype html>
<html>
<head>
  <title>MAD YOUR LIB</title>
</head>
<body>
   <form action="/madlib">
    Victim Name:
    <select name="victim-name">
        <option value="Ally">Ally</option>
        <option value="Meggie">Meggie</option>
        <option value="Ahmad">Ahmad</option>
        <option value="Jenn">Jenn</option>
        <option value="Meg">Meg</option>
        <option value="Katie">Katie</option>
    </select><br><br>
    Color:
        <input type="checkbox" name="color" value="Hackbright Red">Hackbright Red
        <input type="checkbox" name="color" value="Elphaba Green">Elphaba Green
        <input type="checkbox" name="color" value="Trump Orange">Trump Orange
        <input type="checkbox" name="color" value="Glinda Pink">Glinda Pink
    <br><br>
    Noun: <input type="text" name="noun" value="NOUN PLEASE">
    <br><br>
    Adjective:
        <input type="radio" name="adjective" value="sparkly">Sparkly
        <input type="radio" name="adjective" value="spooky">Spooky
        <input type="radio" name="adjective" value="delicious">Delicious
        <input type="radio" name="adjective" value="squeaky">Squeaky
        <input type="radio" name="adjective" value="dangerous">Dangerous
    <br><br>
        <input type="submit" value="Generate Madlib">
   </form>
</body>
</html>